/**
 * Reset
 */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --positionableSize: 22px;
}

html {
  font-size: 100%;
  font-family: sans-serif;
}

body {
  background: #000;
  color: #fff;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 0;
  font-family: Consolas, 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  z-index: 100;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.positionable {
  position: absolute;
  top: 0;
  display: inline-block;
  font-size: var(--positionableSize)
}
