/**
 * Reset
 */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --positionableSize: 22px;
}

html {
  font-size: 100%;
  font-family: sans-serif;
}

body {
  background: #000;
  color: #fff;
  overflow: hidden;
}

#gameui {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
}

span {
  font-weight: normal;
}

#debug {
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: Consolas, "Courier New", Courier, monospace;
  white-space: pre-wrap;
  z-index: 100;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: hsla(0, 0%, 50%, 1);
}

#debug .player-info {
  white-space: pre-wrap;
}

#scoreboard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  font-weight: bold;
  font-size: 40px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
